.form-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex-flow: column;
}

.input-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
    width: 250px;
}

.input-wrapper input {
    width: 100%;
}

.input-wrapper textarea {
    width: 100%;
    resize: vertical;
}

.error-container {
    display: block;
    color: red;
    width: 100%;
    font-size: 10px;
    text-align: center;
}
